* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #D5F8EC;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

.a {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1440px;
    margin: 1.25em;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25em;
}

.header-navigation {
    margin: 0.625em 0;
}

.header-navigation li {
    display: inline;
}

.header-navigation .header-navigation__icon {
    display: none;
}

.logo {
    max-width: 7.5em;
    max-height: 7.5em;
    border: 0.1875em solid black;
    border-radius: 50%;
}

.logo__picture {
    max-width: 7.5em;
    max-height: 7.5em;
}

main {
    width: 100%;
}

.heading-section {
    position: relative;

    min-height: 12.5em;
    border: 0.1875em solid black;
    margin-bottom: 1.25em;
}

.heading-section__title {
    padding: 0.5em 0 0 0.5em;

    font-size: 1.25em;
}

.heading-section__content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.subscribe-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
}

.subscribe-section__label {
    margin-bottom: 0.625em;
}

.email-input {
    width: 12.5em;
    height: 1.5625em;
    padding-left: 0.625em;
    margin-right: 0.625em;
    border: 0.1875em solid black;

    background-color: #D5F8EC;

    font-family: Georgia, sans-serif;
    font-size: 1em;
}

.subscribe-btn {
    width: 7.5em;
    border: 0.1875em solid black;
    border-radius: 0.4375em;
    margin-top: 0.625em;

    background-color: #EAF8F3;

    font-size: 1em;

    cursor: pointer;
}

.articles-section {
    display: flex;
    flex-direction: column;

}

.article {
    border: 0.1875em solid black;
    margin-bottom: 1.25em;
}


.article-title {
    padding: 0.5em;

    font-size: 1.25em;
}

.article-text {
    padding: 0 0.625em 0.625em;

}

.footer-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1440px;
    padding-top: 0.625em;
    border-top: 0.1875em solid black;
    margin: 0.75em 1.25em;
}


.footer-navigation {
    margin-bottom: 1em;
}

.footer-navigation ul {
    display: flex;
}

.footer-navigation li {
    margin-right: 0.3125em;

    list-style-type: none;
}

li:after {
    display: inline-block;
    content: '';
    width: 0.125em;
    height: 1em;
    margin-left: 0.3125em;
    margin-bottom: -0.25em;

    background: black;
}

li:last-child:after {
    display: none;
}

.social-networks-navigation {
    display: flex;
    justify-content: flex-end;
}

.social-networks-navigation a {
    margin-left: 1.25em;
}

.copyright:before {
    content: ' \00A9 ';
}

@media (min-width: 371px) {
    .subscribe-btn {
        margin-top: 0;
    }
}

@media (min-width: 680px) {
    .main-header {
        flex-direction: row;
    }

    .header-navigation {
        order: 2;
    }

    .logo {
        order: 1;
        margin: 0 1.25em 0 0;
    }

    .heading-section {
        min-height: 18.75em;
    }

    .heading-section__title {
        padding: 0.8333333333333334em 0 0 0.8333333333333334em;

        font-size: 1.5em;
    }

    .heading-section__content {
        font-size: 1.25em;
    }

    .subscribe-section {
        flex-direction: row;
        justify-content: flex-end;
    }

    .subscribe-section__label {
        margin-right: 0.5em;
        margin-bottom: 0;

        font-size: 1.25em;
    }

    .articles-section {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .article {
        width: 49%;
    }

    .article-title {
        padding: 0.8333333333333334em;

        font-size: 1.5em;
    }

    .article-text {
        padding: 0 1em 1em 1em;

        font-size: 1.25em;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-navigation {
        margin-bottom: 0;
    }
}

@media (min-width: 993px) {
    .header-navigation {
        width: 100%;
    }

    .header-navigation ul {
        display: flex;
        justify-content: space-between;
    }

    .header-navigation li::after {
        display: none;
    }

    .header-navigation .header-navigation__icon {
        display: inline-block;
    }

    .header-navigation a {
        display: flex;
        padding: 0.9375em 1.875em;

        color: #454547;

        font-weight: bold;

        text-decoration: none;
    }

    .header-navigation .header-navigation__title {
        margin: 0 1.875em 0 1.875em;
        display: flex;
        align-items: center;
    }

    .heading-section {
        min-height: 25em;
    }

    .heading-section__title {
        padding: 1.25em 0 0 1.25em;
    }

    .article {
        width: 31%;
    }

}

@media (min-width: 1200px) {
    .container {
        flex-direction: row;
    }

    .main-header {
        flex-direction: column;
        margin-right: 1.875em;
    }

    .logo {
        max-width: 9.375em;
        max-height: 9.375em;
        margin: 0.625em auto 1.25em;
    }

    .logo__picture {
        max-width: 9.375em;
        max-height: 9.375em;
    }

    .header-navigation {
        height: 25em;
        border: 0.1875em solid black;
    }

    .header-navigation ul {
        flex-direction: column;
        padding-top: 1.875em;
    }

}

@media (min-width: 1440px) {
    .container {
        margin: 1.25em auto;
    }

    .footer-container {
        margin: 1.25em auto;
    }
}